.category {
	@extend %page;
}

.category__wrapper {
	@extend %cover;
	display: flex;
	flex-direction: row;
}

.category__title__wrapper {
	align-items: flex-end;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 25%;

	&:nth-child(1) {
		background-color: $color-grenadier;
	}
	&:nth-child(2) {
		background-color: $color-science-blue;
	}
	// &:nth-child(3) {
	// 	background-color: $color-la-palma;
	// }
	&:nth-child(3) {
		background-color: $color-corn;
	}
	&:nth-child(4) {
		background-color: $color-la-palma;
	}
}

.category__title {
	@extend %link--hidden;
	@extend %title-150;

	color: $color-white;
	overflow: inherit;
	text-align: start;
	transform: rotate(-90deg) translateX(50%);
	width: fit-content;
}
