.works__category {
	bottom: 0;
	height: 11rem;
	position: absolute;
	width: 100%;
	z-index: 3;

	@include media('<phone') {
		height: 6rem;
	}
}

.works__category__wrapper {
	color: $color-white;
	height: 100%;
	opacity: 0;
	padding: 3.2rem 3.2rem 0 3.2rem;
	position: absolute;
	transition: opacity 0.4s ease;
	width: 100%;

	@include media('<phone') {
		padding: 1.6rem 1.6rem 0 1.6rem;
	}
	&--active {
		align-items: baseline;
		display: flex;
		justify-content: space-between;
		opacity: 1;
		transition-delay: 0.4s;
		z-index: inherit;
	}

	&--0 {
		background-color: $color-grenadier;
	}

	&--1 {
		background-color: $color-science-blue;
	}

	&--2 {
		background-color: $color-la-palma;
	}

	&--3 {
		background-color: $color-corn;
	}

	&--4 {
		background-color: $color-black;
	}
}

.works__category__title {
	@extend %title-category-64;

	text-transform: uppercase;
}

.works__category__link__text {
	@extend %link--hidden;
	@extend %description-category-20;

	font-weight: 300;
}
