.works__header {
}

.works__header__wrapper {
	margin-top: 10.2rem;
}

.works__header__title__wrapper {
	align-items: center;
	column-gap: 3.4rem;
	display: flex;
	width: max-content;
	position: absolute;
	opacity: 0;

	&--active {
		opacity: 1;
	}
}
.works__header__title__title {
	@extend %title-80;
}

.works__header__title__circle {
	border-radius: 50%;
	height: 4.6rem;
	width: 4.6rem;
	&--cook {
		background: $color-grenadier;
	}

	&--music {
		background: $color-science-blue;
	}

	&--ui-ux {
		background: $color-la-palma;
	}

	&--webdev {
		background: $color-corn;
	}

	&--others {
		background: $color-black;
	}

	@include media('<phone') {
		height: 2.4rem;
		width: 2.4rem;
	}
}

.works__gallery {
	height: 65.6rem;
	left: 50%;
	position: absolute;
	top: 40%; //TODO: update top to be 29%, changed fake button also
	z-index: 1;

	@include media('<phone') {
		height: 37.1rem;
		top: 50%;
	}
}

.works__gallery__wrapper {
	@extend %gallery__wrapper;
}

.works__gallery__link {
	display: block;
	margin: 0 3.4rem;

	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}

.works__gallery__media {
	height: 50.5rem;
	position: relative;
	visibility: hidden;
	width: 34rem;

	@include media('<phone') {
		height: 27.7rem;
		width: 18.7rem;
	}
}

.works__gallery__media__image {
	@extend %cover;
	object-fit: cover;
	user-select: none;
}
