.works__transition {
	@extend %page;
	z-index: 4;
}

.works__transition__wrapper {
	@extend %cover;
	display: flex;
	flex-direction: row;
}

.works__transition__title__wrapper {
	align-items: flex-end;
	display: flex;
	height: 100%;
	justify-content: center;
	width: 20%;

	&:nth-child(1) {
		background-color: $color-grenadier;
	}
	&:nth-child(2) {
		background-color: $color-science-blue;
	}
	// &:nth-child(3) {
	// 	background-color: $color-la-palma;
	// }
	&:nth-child(3) {
		background-color: $color-corn;
	}
	&:nth-child(4) {
		background-color: $color-la-palma;
	}
}

.works__header {
}

.works__header__wrapper {
	margin-top: 10.2rem;
}

.works__header__title__wrapper__outer {
	@extend %marquee__wrapper__outer;
	position: absolute;
	opacity: 0;

	&--active {
		opacity: 1;
	}
}

.works__header__title__wrapper {
	@extend %marquee__wrapper;
	display: flex;
}

.works__header__title__inner {
}

.works__header__title__title {
	@extend %marquee__title;
}

.works__header__title__circle {
	@extend %marquee__circle;
	&--cook {
		background: $color-grenadier;
	}

	&--music {
		background: $color-science-blue;
	}

	// &--ui-ux {
	// 	background: $color-la-palma;
	// }

	&--webdev {
		background: $color-corn;
	}

	&--others {
		background: $color-la-palma;
	}
}

.works__gallery {
	height: 65.6rem;
	left: 50%;
	position: absolute;
	top: 40%; //TODO: update top to be 29%, changed fake button also
	z-index: 1;

	@include media('<phone') {
		height: 37.1rem;
		top: 50%;
	}
}

.works__gallery__wrapper {
	@extend %gallery__wrapper;
}

.works__gallery__link {
	display: block;
	margin: 0 3.4rem;

	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}

.works__gallery__media {
	height: 44rem;
	position: relative;
	visibility: hidden;
	width: 29.6rem;

	@include media('<phone') {
		height: 36.5rem;
		width: 24.5rem;
	}
}

.works__gallery__media__image {
	@extend %cover;
	object-fit: cover;
	user-select: none;
	height: 44rem;
	width: 29.6rem;
	@include media('<phone') {
		height: 36.5rem;
		width: 24.5rem;
	}
}
