nav.navigation
	.navigation__link__wrapper
		a.navigation__link(href='/')
			|	Muhammad Akmal 

		.navigation__current__wrapper(class=`navigation__current__wrapper--${navbar.data.route === 'works' || navbar.data.route === 'blog' ? 'hide' : ''}`)
			ul.navigation__current__inner__wrapper(data-animation="vertical-slide")
				li.navigation__current__text=navbar.data.current_job
				li.navigation__current__text=navbar.data.current_status
				

	ul.navigation__list
		.navigation__list__top__wrapper
			li.navigation__list__item
				a.navigation__list__link(href='/category') Works
			li.navigation__list__item
				a.navigation__list__link(href='/about') About
		li.navigation__list__item 
			a.navigation__list__link(href=`mailto:${navbar.data.email}`) Get In Touch