.preloader
	.preloader__title__first__name=preloader.data.first_name
	.preloader__title__last__name=preloader.data.last_name
	p.preloader__quote!=preloader.data.quote.replace(/\n/g, '<br>')
	.preloader__number
		.preloader__number__text 0%