.about {
	// @extend %cover;
	background: $color-spring-wood;
}

.about__wrapper {
	// @extend %cover;
	display: flex;
	flex-direction: column;

	margin-left: 8.3rem;
	margin-right: 8.3rem;
	margin-top: 5.1rem;
}

.about__title {
	@extend %title-64;

	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	margin-left: 13.7rem;
}
