.about__content {
}

.about__content__wrapper {
	display: flex;
	flex-direction: column;
	position: relative;
	row-gap: 72rem;

	div figure {
		position: relative;
	}
	div:nth-child(1) {
		// @include media('<phone') {
		// 	height: 29.3rem;
		// 	width: 22.3rem;
		// }
		figure {
			height: 43.1rem;
			// margin-right: 22.5rem;
			// margin-top: -15.6rem;
			// position: absolute;
			// right: 0;
			// top: 0;
			width: 32.8rem;

			@include media('<phone') {
				height: 29.3rem;
				width: 22.3rem;
			}
			img {
				@extend %cover;

				object-fit: cover;

				// height: 43.1rem;
				// margin-right: 22.5rem;
				// margin-top: -15.6rem;
				// position: absolute;
				// right: 0;
				// top: 0;
				// width: 32.8rem;
			}
		}
	}

	div:nth-child(2) {
		figure {
			img {
				// @extend %cover;

				height: 47.5rem;
				left: 0;
				margin-left: 23.7rem;
				margin-top: 8.5rem;
				position: absolute;
				top: 0;
				width: 45.6rem;

				@include media('<phone') {
					height: 24.7rem;
					width: 23.7rem;
				}
			}
		}
	}

	div:nth-child(3) {
		figure {
			img {
				// @extend %cover;

				height: 35.8rem;
				margin-right: 20rem;
				margin-top: 5.7rem;
				position: absolute;
				right: 0;
				top: 0;
				width: 32.3rem;

				@include media('<phone') {
					height: 20.1rem;
					width: 21.2rem;
				}
			}
		}
	}

	:nth-child(2n) {
		flex-direction: row-reverse;
		// margin-right: 8.3rem;
	}
}

.about__content__box {
	display: flex;
	flex-direction: row;
	column-gap: 6rem;
	// margin-left: 8.3rem;

	&:nth-child(1) {
		margin-top: 7.8rem;
	}

	// &:not(:nth-child(1)) {
	// 	margin-top: 50rem;
	// }
}

.about__content__title {
	@extend %description-about-20;

	font-style: normal;
	font-weight: 600;
	line-height: 1;
}

.about__content__description {
	@extend %description-about-24;

	font-weight: 300;
	line-height: 1.3;
	letter-spacing: 0.025rem;
	z-index: 2;
}

.about__content__media {
}

.about__content__media__image {
	// @extend %cover;
	object-fit: cover;
}
