%description-12 {
	font-family: $font-graphik;
	font-size: 1.2rem;
}

%description-16 {
	font-family: $font-graphik;
	font-size: 1.6rem;
}

%description-18 {
	font-family: $font-graphik;
	font-size: 1.8rem;
}

%description-20 {
	font-family: $font-graphik;
	font-size: 2rem;
}

%description-24 {
	font-family: $font-graphik;
	font-size: 2.4rem;
}

%description-36 {
	font-family: $font-graphik;
	font-size: 3.6rem;
}

%description-44 {
	font-family: $font-graphik;
	font-size: 4.4rem;
}
