%title-20 {
	font-family: $font-canela;
	font-size: 2rem;
}

%title-40 {
	font-family: $font-canela;
	font-size: 4rem;
}

%title-52 {
	font-family: $font-canela;
	font-size: 5.2rem;
}

%title-64 {
	font-family: $font-canela;
	font-size: 6.4rem;
}

%title-72 {
	font-family: $font-canela;
	font-size: 7.2rem;
}

%title-80 {
	font-family: $font-canela;
	font-size: 8rem;
}

%title-96 {
	font-family: $font-canela;
	font-size: 9.6rem;
}

%title-104 {
	font-family: $font-canela;
	font-size: 10.4rem;
}

%title-440 {
	font-family: $font-canela;
	font-size: 44rem;
}
