.preloader {
	@extend %cover;

	background: $color-spring-wood;
	height: 100%;
	// overflow: hidden;
	// position: fixed;
	z-index: z('preloader');
}

.preloader__title__first__name {
	@extend %title-440;

	margin-left: 22rem;
	text-align: center;
	text-transform: uppercase;
	transform: rotate(-90deg) translate(70%, -100%);

	@include media('<phone') {
		margin-left: 6rem;
		margin-right: 6rem;
	}
}

.preloader__title__last__name {
	@extend %title-440;

	margin-right: 22rem;
	text-align: center;
	text-transform: uppercase;
	transform: rotate(90deg) translate(250%, -100%); //desktop: 100

	@include media('<phone') {
		margin-left: 6rem;
		margin-right: 6rem;
	}
}

.preloader__number {
	@extend %description-36;

	bottom: 10.2rem;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);

	@include media('<phone') {
		bottom: auto;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.preloader__number__text {
	display: inline-block;
}
