.preloader {
	@extend %cover;

	background: $color-spring-wood;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	row-gap: 4rem;
	z-index: z('preloader');
}

.preloader__title__first__name {
	@extend %title-340;

	opacity: 0;
	text-align: center;
	text-transform: uppercase;
	width: fit-content;

	@include media('<phone') {
		margin-left: 3rem;
	}
}

.preloader__title__last__name {
	@extend %title-340;

	align-self: center;
	display: inherit;
	opacity: 0;
	text-align: center;
	text-transform: uppercase;
	width: fit-content;

	@include media('<phone') {
		align-self: flex-start;
	}
}

.preloader__number {
	@extend %description-36;

	align-items: center;
	display: flex;
	justify-content: center;
}

.preloader__number__text {
	display: inline-block;
}
