.blog {
	@extend %cover;

	background: $color-spring-wood;
}

.blog__wrapper {
	align-items: center;
	display: flex;
	flex-direction: column;
	row-gap: 12rem;

	@include media('<phone') {
		row-gap: 6rem;
	}
}
