.blog__gallery {
	height: 65.6rem;
	position: relative;
	width: 100%;

	@include media('<phone') {
		height: 32.7rem;
	}
}

.blog_gallery_wrapper {
	@extend %gallery__wrapper;
	column-gap: 8rem;
	top: 50%;
}

.blog__gallery__media {
	height: 50.5rem;
	position: relative;
	width: 34rem;

	@include media('<phone') {
		height: 28rem;
		width: 19rem;
	}
}

.blog__gallery__media__image {
	@extend %cover;

	object-fit: cover;
}
