.blog__gallery {
	display: flex;
	flex-direction: column;
	row-gap: 3.6rem;
	@include media('<phone') {
		row-gap: 2rem;
	}
}

.blog__gallery__outer__wrapper {
	pointer-events: none;
	position: relative;
	width: 100%;
	visibility: hidden;

	&--portrait {
		@extend %media__image__portrait;
	}

	&--landscape-1 {
		@extend %media__image__landscape-1;
	}

	&--landscape-2 {
		@extend %media__image__landscape-2;
	}

	&--square {
		@extend %media__image__square;
	}
}

.blog_gallery_wrapper {
	@extend %gallery__wrapper;
	left: 50%;
	top: 0%;
}

.blog__gallery__media {
	// margin-right: 4rem; //TODO: update regarding the expected margin
	margin: 0 4rem;
	position: relative;

	&--portrait {
		@extend %media__image__portrait;
	}

	&--landscape-1 {
		@extend %media__image__landscape-1;
	}

	&--landscape-2 {
		@extend %media__image__landscape-2;
	}

	&--square {
		@extend %media__image__square;
	}

	&:first-child {
		margin-left: 0;
	}
	&:last-child {
		margin-right: 0;
	}
}

.blog__gallery__media__image {
	@extend %cover;

	object-fit: cover;
}

.blog__gallery__media__caption {
	@extend %description-blog-16;
	text-align: center;
}
