.blog__header {
}

.blog__header__wrapper {
	display: flex;

	@include media('<phone') {
		flex-direction: column-reverse;
	}
}

.blog__header__media {
	height: 72rem;
	position: relative;
	width: 72rem;

	@include media('<phone') {
		height: 40rem;
		width: 100%;
	}
}

.blog__header__media__image {
	@extend %cover;

	object-fit: cover;
}

.blog__header__title__wrapper {
	color: $color-white;
	display: flex;
	flex-direction: column;
	height: 72rem;
	justify-content: center;
	padding-left: 6rem;
	width: 72rem;

	@include media('<phone') {
		max-height: 30rem;
		width: 100%;
		padding: 5rem 1.6rem 0 1.6rem;
	}

	&--cook {
		background: $color-grenadier;
	}

	&--music {
		background: $color-science-blue;
	}

	&--ui-ux {
		background: $color-la-palma;
	}

	&--webdev {
		background: $color-corn;
	}

	&--others {
		background: $color-black;
	}
}

.blog__header__title {
	@extend %title-blog-72;

	font-weight: 400;
	margin-top: auto;
	text-align: start;
	padding-bottom: 3rem;
	width: 100%;

	@include media('<phone') {
		text-align: center;
		padding-bottom: 0.8rem;
	}
}

.blog__header__description {
	@extend %description-blog-header-24;

	max-width: 58.1rem;
	text-align: start;

	@include media('<phone') {
		text-align: center;
		max-width: 32.8rem;
	}
}

.blog__header__label {
	margin-top: auto;
	margin-bottom: 2.8rem;
}
.blog__header__label__type {
	@extend %description-16;
	font-weight: 500;
	padding-bottom: 1.6rem;

	@include media('<phone') {
		text-align: center;
	}
}
.blog__header__label__date {
	@extend %description-16;
	font-weight: 400;

	@include media('<phone') {
		text-align: center;
	}
}

.blog__header__label__url {
	@extend %description-about-20;
	@extend %link--hidden;
	font-weight: 400;
	padding-top: 1.6rem;

	&--hidden {
		display: none;
	}

	@include media('<phone') {
		text-align: center;
	}
}
