.blog__next {
	width: 100%;
}

.blog__next__wrapper {
}

.blog__next__header {
	@extend %title-canela-40;
	text-align: center;
	text-transform: uppercase;
}

.blog__next__description__wrapper__outer {
	@extend %marquee__wrapper__outer;
	bottom: 10rem;
	margin-top: 2.4rem;
	margin-bottom: 10rem;
}

.blog__next__description__wrapper {
	@extend %marquee__wrapper;
	@include marquee__animation(20s);
	display: flex;
}

@include marquee__keyframes(-50%);

.blog__next__description__item {
	align-items: center;
	display: flex;
}

.blog__next__description__title {
	@extend %marquee__title;
	@extend %link--hidden;
}

.blog__next__description__wrapper:hover {
	animation-play-state: paused;
}

.blog__next__description__circle {
	@extend %marquee__circle;

	&--cook {
		background: $color-grenadier;
	}

	&--music {
		background: $color-science-blue;
	}

	// &--ui-ux {
	// 	background: $color-la-palma;
	// }

	&--webdev {
		background: $color-corn;
	}

	&--others {
		background: $color-la-palma;
	}
}
