.blog__paragraph {
}

.blog__paragraph__wrapper {
	display: flex;

	&--no-image {
		align-items: center;
		flex-direction: column;
	}

	&--top {
		align-items: center;
		flex-direction: column-reverse;
		row-gap: 10rem;

		@include media('<phone') {
			row-gap: 3rem;
		}
	}

	&--bottom {
		align-items: center;
		flex-direction: column;
		row-gap: 10rem;

		@include media('<phone') {
			row-gap: 3rem;
		}
	}

	&--left {
		column-gap: 10rem;
		flex-direction: row;

		@include media('<phone') {
			align-items: center;
			flex-direction: column;
			row-gap: 2rem;
		}
	}

	&--right {
		column-gap: 10rem;
		flex-direction: row-reverse;

		@include media('<phone') {
			align-items: center;
			flex-direction: column;
			row-gap: 2rem;
		}
	}
}

.blog__paragraph__media__wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 2.4rem;
	align-items: center;

	@include media('<phone') {
		row-gap: 2rem;
	}
}

.blog__paragraph__media {
	position: relative;

	&--portrait {
		@extend %media__image__portrait;
	}

	&--landscape {
		@extend %media__image__landscape;
	}

	&--square {
		@extend %media__image__square;
	}

	&--no-image {
		display: none;
	}
}

.blog__paragraph__media__image {
	@extend %cover;

	object-fit: cover;
}

.blog__paragraph__media__caption {
	@extend %description-blog-16;
	width: 100%;
	&--right,
	&--left {
		text-align: start;
	}

	&--bottom,
	&--top {
		text-align: center;
	}

	@include media('<phone') {
		padding: 0 3.2rem;
	}
}

.blog__paragraph__title__wrapper {
}

.blog__paragraph__title {
	@extend %description-blog-20;
	font-weight: 500;

	&--left,
	&--right {
		text-align: start;
	}
}

.blog__paragraph__text {
	@extend %description-18;
	font-weight: 300;

	max-width: 54rem;

	&--bottom,
	&--top,
	&--no-image {
		max-width: 105rem;
	}

	&--no-title {
		margin-top: none;
	}

	&--with-title {
		margin-top: 2.4rem;

		@include media('<phone') {
			margin-top: 1.6rem;
		}
	}

	@include media('<phone') {
		max-width: 32.8rem;
	}
}
