*,
*:after,
*:before {
	box-sizing: border-box;
	user-select: none;
}

html {
	@extend %cover;

	background: $color-spring-wood;
	color: $color-black;
	font-size: calc(100vw / 1440 * 10);
	line-height: 1;
	// overflow: hidden;
	// position: fixed;

	@include media('<phone') {
		font-size: calc(100vw / 640 * 10);
	}
}

body {
}
