.home__gallery {
	align-items: center;
	display: flex;
	height: 100%;
	width: max-content;
}

.home__gallery__media {
	height: 30rem;
	margin-right: 2.5rem;
	position: relative;
	width: 20rem;

	@include media('<phone') {
		height: 20rem;
		width: 14rem;
	}
}

.home__gallery__media__image {
	@extend %cover;
	object-fit: cover;
}
