.home__personalities {
}

.home__personalities__wrapper {
}

.home__personalities__item__wrapper {
	@extend %marquee__wrapper;
	@include marquee__animation(30s);
	align-items: center;
	display: flex;
	flex-direction: row;
	width: max-content;
}

@include marquee__keyframes(-50%);

.home__personalities__item {
	margin-right: 5rem;
}

.home__personalities__text__wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;

	> :first-child {
		@extend %title-96;
	}

	> :last-child {
		@extend %title-home-72;
	}
}

.home__personalities__text {
	text-align: center;

	&--cook {
		color: $color-grenadier;
	}

	&--music {
		color: $color-science-blue;
	}

	// &--ui-ux {
	// 	color: $color-la-palma;
	// }

	&--webdev {
		color: $color-corn;
	}

	&--others {
		color: $color-la-palma;
	}

	&--wildcard {
		:nth-child(4n + 1) {
			color: $color-grenadier;
		}
		:nth-child(4n + 2) {
			color: $color-la-palma;
		}
		:nth-child(4n + 3) {
			color: $color-corn;
		}
		:nth-child(4n) {
			color: $color-science-blue;
		}
	}
}

.home__personalities__images__media {
	height: 14.4rem;
	position: relative;
	width: 9.7rem;

	@include media('<phone') {
		height: 10.2rem;
		width: 6.9rem;
	}
}

.home__personalities__images__media__image {
	@extend %cover;
	object-fit: cover;
}
