.home__story {
	// @extend %cover;

	position: relative;
	// align-items: center;
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	// margin-top: 88.7rem;
}

.home__story__text {
	@extend %title-40;

	font-weight: 300;
	line-height: 7.02rem;
	position: relative;
	z-index: 2;

	span {
		@extend %title-52;

		font-style: italic;
		font-weight: 700;
	}
	span:nth-of-type(1) {
		color: $color-grenadier;
	}

	span:nth-of-type(2),
	span:nth-of-type(5) {
		color: $color-science-blue;
	}

	span:nth-of-type(3) {
		color: $color-la-palma;
	}

	span:nth-of-type(4) {
		color: $color-corn;
	}
}

.home__story__media {
	position: absolute;

	&--cook {
		right: 0;
		margin-right: -10.4rem;
		margin-top: -6.1rem;
		top: 0;
	}

	&--studio {
		left: 0;
		margin-left: -16.8rem;
		margin-top: 9.7rem;
		top: 0;
	}

	&--pics {
		right: 0;
		margin-right: 21rem;
		margin-top: 11.5rem;
		top: 0;
	}

	&--books {
		left: 0;
		margin-left: 28.3rem;
		top: 0;
	}

	&--cat {
		bottom: 0;
		right: 0;
		margin-right: 0.4rem;
		margin-bottom: -9rem;
	}

	&--laptop {
		bottom: 0;
		left: 0;
		margin-bottom: -8.1rem;
		margin-left: 31.9rem;
	}
}

.home__story__media__image {
}
