.home__welcoming {
	@extend %cover;

	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 163rem;
}

.home__welcoming__text {
	@extend %title-40;

	font-weight: 300;
	line-height: 7.02rem;

	span {
		@extend %title-52;

		color: $color-grenadier;
		font-style: italic;
		font-weight: 700;
	}
}
