.home__welcoming {
	// @extend %cover;

	// position: relative;
	// align-items: center;
	// display: flex;
	// height: 100%;
	// flex-direction: column;
	// justify-content: center;
	// margin-top: 163rem;
	margin-bottom: 33.9rem;
}

.home__welcoming__text {
	@extend %title-graphik-40;

	font-weight: 300;
	line-height: 7.02rem;

	span {
		@extend %title-52;

		color: $color-grenadier;
		font-style: italic;
		font-weight: 700;
	}
}
